/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.image-container img {
  width: 100%;
}

/* App Styles */

.App {
  font-family: 'Work Sans', sans-serif;
  position: relative;
}

body{
  margin: 0;
}

h1 {
  text-align: center;
  background-color: #cca353;
  font-family: Poppins, sans-serif;
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 0;
}